@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

body {
  width: 100%;
  min-height: 1500px;
}

section {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(55, 58, 58);
  transition: 0.5s;
}

section > div > span:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #a1c3d8, transparent);
  z-index: 10000;
}
section > img {
  position: absolute;
  /* transition: 0.25s; */
}

section > h2 {
  color: whitesmoke;
  font-size: 8em;
  display: flex;
  justify-content: center;
  transform: translateY(290px);
  height: 100%;
}
section > #moon {
  left: initial;
  right: 20%;
  width: 13%;
  min-width: 100px;
  top: -100%;
}
section > #sun {
  width: 15.5%;
  right: 15%;
  top: 9%;
}
#cloud {
  position: absolute;
  left: 0;
  height: 100%;
  bottom: -100%;
  transform: translateY(15%);
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}

.animation > span {
  transition: 0.5s;
}

#text {
  padding: 20px;
}
#text > span,
#animation > span {
  text-shadow: 5px 5px #558abb;
  position: relative;
  display: inline-flex;
  transition: 0.5s;
  cursor: pointer;
}

#text > span:nth-child(even) {
  letter-spacing: -1em;
  overflow: hidden;
  transition: 0.5s;
}
#text:hover > span:nth-child(even) {
  letter-spacing: 0;
}
#text:before {
  content: "Welcome,";
  position: absolute;
  width: 100%;
  font-size: 2rem;
}
#text:hover:before,
#animation:before {
  content: "Welcome, it's";
  position: absolute;
  left: 20px;
  height: 40px;
  font-size: 2rem;
}
#text:after,
#animation:after {
  content: "!";
  position: relative;
  left: 40px;
  height: 40px;
  font-size: 4rem;
  transform: rotate(35deg);
}
#animation:after {
  text-shadow: 5px 5px #558abb;
  animation: shake 1.2s linear;
}

.middle {
  background: #a1c3d8;
  height: 120vh;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(35deg);
  }
  15% {
    -webkit-transform: translate(-1px, -2px) rotate(-35deg);
  }
  30% {
    -webkit-transform: translate(-3px, 0px) rotate(35deg);
  }
  45% {
    -webkit-transform: translate(0px, 2px) rotate(-35deg);
  }
  60% {
    -webkit-transform: translate(1px, -1px) rotate(35deg);
  }
  75% {
    -webkit-transform: translate(-1px, 2px) rotate(-35deg);
  }
  90% {
    -webkit-transform: translate(-3px, 1px) rotate(35deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(35deg);
  }
}

@media screen and (max-width: 1000px) {
  #cloud {
    max-height: 60%;
  }
}
@media screen and (max-width: 600px) {
  #text > span,
  #animation > span {
    margin-top: 20px;
    font-size: 5.7rem;
  }
  #cloud {
    max-height: 500px;
  }
}
@media screen and (max-width: 500px) {
  #text > span,
  #animation > span {
    margin-top: 40px;
    font-size: 3.5rem;
  }
  #text:after,
  #animation:after {
    top: 40px;
    left: 30px;
    font-size: 2.5rem;
  }
}
